.card{
    cursor:pointer;
    width: 175px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card > img {
    border-radius:10px;
}
.card-stats{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.card-star{
height: 15px;
}
.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-price{
    margin-top: auto;
}
.card-badge{
    position: absolute;
    top:8px;
    left:10px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: bold;
}
.card-title